<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Platform Deliveries</title>

    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.6.0/cal-heatmap.css" />
</head>

<body>

    <div class="container">
        <h1>Platform Deliveries</h1>
        <div id="cal-heatmap"></div>
    </div>

    <div class="container" id="timeline">
        <h4><span class="glyphicon glyphicon-info-sign"></span> Softwares</h4>
        <h4>
            <span 
                class="label soft" 
                v-for="(item, key) in softwares" 
                v-on:click="filterSoft(item)"
                v-bind:class="{'label-danger': currentSoft===item, 'label-default': (currentSoft!==item && !currentSoft), 'label-default label-off': (currentSoft!==item && currentSoft)}"
            >
                {{item}}
            </span>
        </h4>
        <h4><span class="glyphicon glyphicon-info-sign"></span> Environments</h4>
        <h4>
            <span 
                class="label soft" 
                v-for="(item, key) in environments" 
                v-on:click="filterEnv(item)"
                v-bind:class="{'label-danger': currentEnv===item, 'label-default': (currentEnv!==item && !currentEnv), 'label-default label-off': (currentEnv!==item && currentEnv)}"
                v-bind:style="{ backgroundColor: colors[key] }"
            >
                {{ item }}
            </span>
        </h4>
        <div 
          v-if="(currentSoft.length !== 0 || currentEnv.length !== 0 || currentDate.length !== 0)"
        >
          <h4><span class="glyphicon glyphicon-info-sign"></span> Filters</h4>
          <h4>
            <span 
                class="label filter label-danger" 
                v-if="(currentSoft.length !== 0)" 
                v-on:click="filterSoft(currentSoft)" draggable=""
            >
                <b>Software :</b> {{ currentSoft }}
            </span>
            <span 
                class="label filter label-danger" 
                v-if="(currentEnv.length !== 0)" 
                v-on:click="filterEnv(currentEnv)" 
            >
                <b>Environment :</b> {{ currentEnv }}
            </span>
            <span 
                class="label filter label-danger" 
                v-if="(currentDate.length !== 0)" 
                v-on:click="filterDate(currentDate)" 
            >
                <b>Date :</b> {{ currentDate | formatDate }}
            </span>
          </h4>
        </div>
        
        <ul class="timeline">
            <li v-for="(delivery, key) in deliveries" 
                v-bind:class="delivery.date" 
                v-show="(key < deliveriesLimit)" 
            >
                <div class="timeline-badge success"><i class="glyphicon glyphicon-ok"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">
                            <span class="label label-info" v-bind:style="{ backgroundColor: delivery.environmentColor }">{{delivery.environment}}</span> {{delivery.software}} {{delivery.version}}
                            <!--span class="pull-right glyphicon glyphicon-trash" v-on:click="remove(delivery.date)"></span-->
                        </h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{delivery.date | formatDateTime}}</small>
                        </p>
                        
                    </div>
                    <div class="timeline-body">
                        <p>Version {{delivery.version}} - <a v-bind:href="delivery | getChangelogURL" target="_blank">See Changelog</a></p>
                        <p>{{delivery.repository}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <div
          v-on:click="showMore()" 
          v-show="(deliveries.length > deliveriesLimit)" 
          class="timeline-more"
        >
            Show {{ deliveriesStep }} more
        </div>
        <div v-show="(deliveries.length === 0)" class="timeline-empty">
            Nothing to see here
        </div>
    </div>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.6.0/cal-heatmap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
</body>
</html>